{% load staticfiles %}
<html>
    <head>
        <title>ReciclaCoding</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    </head>
    <body>
        <div class="menu">
            <h1><a href="/">ReciclaCoding</a></h1>
        <h5><a href="/">Inicio</a> | <a href="/proceso">Proceso del Reciclaje</a> | <a href="/materiales">Materiales Reciclables</a> | Recicla Ahora | Registrar Código | SignUp | <a href="/recicladoras/">Recicladoras</a> | Usuario: User_name</h5>
        </div>
        <h5> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ </h5>
        {% block content %}
        {% endblock %}
    </body>
</html>