{% extends 'ReciclaCoding_admin/base.html' %}
{% block content %}
    <h5> Registrar Usuario/Comunidad </h5>
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
                <br>{{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
        {% endfor %}
        <p></p>
        <br><button type="submit">Sign up</button><br>
    </form>
{% endblock content %}
